@import url("Part1.css");


       /* CSS 編寫領域 */
       h1{
        color :red
       }
        
       p{
        color: rgb(255, 0, 0);
        }
       
        div{
        color: rgb(87, 0, 128);}
        
        span{
            color: green; }

        
        


